<div class="stock-product" [formGroup]="parent">
  <div formArrayName="stock">
    <div *ngFor="let item of stocks; let i = index">
      <div class="stock-product__content" [formGroupName]="i">
        <div class="stock-product__name">
          {{ this.getProductId(item.value.product_id)?.name }}
        </div>

        <div class="stock-product__quantity">
          {{
            this.getProductId(item.value.product_id)?.quantity | currency: "USD":true
          }}
        </div>

        <button type="button" (click)="onRemove(i)">Remove</button>
      </div>
    </div>
  </div>
</div>
